<div class="recipe-card">
  <div class="recipe-image">
    <img [src]="recipe.image" [alt]="recipe.title">
  </div>
  
  <h3>{{ recipe.title }}</h3>
  <p>{{ recipe.description }}</p>
  
  <div class="recipe-meta">
    <span>{{ recipe.prepTime }}</span>
    <span>{{ recipe.difficulty }}</span>
  </div>
  
  <button (click)="toggleDetails()">
    {{ showDetails ? 'Ocultar' : 'Ver Receita' }}
  </button>
  
  <div *ngIf="showDetails">
    <h4>Ingredientes</h4>
    <ul>
      <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient }}</li>
    </ul>
    
    <h4>Modo de Preparo</h4>
    <ol>
      <li *ngFor="let step of recipe.steps">{{ step }}</li>
    </ol>
  </div>
</div>
