@import '../login/login.css';

.success-message {
  text-align: center;
  padding: 1.5rem;
}

.success-message h2 {
  color: #ff3333;
  margin-bottom: 0.7rem;
}

.success-message p {
  color: #666;
  margin-bottom: 1.5rem;
}
